<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.OrderDetailMapper">


    <insert id="insertBatch">
        insert into order_detail(name, image, order_id, dish_id, setmeal_id, dish_flavor, number, amount)

        values
            <!--批量插入，要遍历这个集合，遍历每条订单细节信息 od为别名，orderDetailList是传过来的集合,separator是每次遍历完要用逗号隔开-->
            <foreach collection="orderDetailList" item="od" separator=",">
                (#{od.name},#{od.image},#{od.orderId},#{od.dishId},#{od.setmealId},#{od.dishFlavor},#{od.number},#{od.amount})
            </foreach>

    </insert>
</mapper>
